@model IEnumerable<LibraryWeb.Models.LibraryItem>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CurrentCondition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medium)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StorageLocation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentCondition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StorageLocation)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.InventoryNumber">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.InventoryNumber">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.InventoryNumber">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
